body {
	background-color:#61E294;
	color:#EF767A;
}
.container {
	background-color: #7BCDBA;
	padding:20px;
}

img {
	width:100px;
}
h1 {
    animation: zoominDown;
     animation-duration: 10s;
   }
